body {
  font-family: Arial, sans-serif;
  background: linear-gradient(135deg, #667eea, #764ba2);
  margin: 0;
  padding: 0;
}

.container {
  max-width: 450px;
  width: 90%;
  margin: 50px auto;
  background: white;
  padding: 25px;
  border-radius: 15px;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  margin-bottom: 20px;
  font-size: 2rem;
  color: #333;
}

/* FORM + SEARCH */
.form,
.search {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

input[type="text"] {
  flex: 1;
  padding: 10px;
  border-radius: 6px;
  border: 1px solid #ccc;
  outline: none;
}

input[type="text"]:focus {
  border-color: #007bff;
}
.item input[type="checkbox"] {
  width: 20px;
  height: 20px;
  cursor: pointer;
  appearance: none;
  border: 2px solid #f1be32;
  border-radius: 4px;
  background-color: white;
  transition: all 0.3s;
  vertical-align: middle;
  margin-right: 15px;
}
.item input[type="checkbox"]:checked {
  background-color: #f1be32;
  border-color: #e2a60d;
}
.item input[type="checkbox"]:checked::after {
  content: "✓";
  display: block;
  text-align: center;
  font-weight: bold;
  color: white;
  line-height: 20px;
}
/* BUTTONS */
button {
  padding: 10px;
  border: none;
  background: #667eea;
  color: white;
  border-radius: 8px;
  cursor: pointer;
  /* margin: 5px 0; */
  transition: 0.2s ease;
}

button:hover {
  background: #5a67d8;
  transform: scale(1.02);
}
button:disabled {
  background: #ccc;
  cursor: not-allowed;
  opacity: o.6;
}
/* LIST */
ul {
  list-style: none;
  padding: 0;
  margin-top: 20px;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
  background: #f9f9f9;
  padding: 12px;
  border-radius: 10px;
  margin-bottom: 10px;
  transition: 0.2s ease;
}
.item:hover {
  background: #f1f1f1;
}
.item span {
  flex: 1;
}

.item button {
  background: #dc3545;
}

.item button:hover {
  background: #a71d2a;
}

/* COMPLETED */
.completed {
  text-decoration: line-through;
  color: #999;
}
/* filter container*/
.filters-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 15px 0;
}

/* FILTER BUTTONS */
.filters {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin: 5px 0;
}

.filters button {
  background: #e0e0e0;
  color: #333;
}

.filters button:hover {
  background: #ccc;
}

/* ACTIVE FILTER (we’ll use this next) */
.filters .active {
  background: #007bff;
  color: white;
}